.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

body, html {
	height: 100%;
	overflow: hidden;
}

#booking {
    font-family: 'Montserrat', sans-serif;
    width: 33.3333333%;
    height: 50%;
}

.booking-form {
	padding: 0px 40px 40px;
	max-width: 642px;
	width: 100%;
	margin: auto;
	background: #2d343b;
}

.booking-form .form-header {
	padding: 40px;
	margin: 0px -40px 30px;
	background: #1a1f24;
}

.booking-form .form-header h1 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 38px;
	margin: 0;
	color: #fff;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #1c2126;
	height: 50px;
	padding: 7px 20px 0px;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 24px;
	text-align: center;
	pointer-events: none;
	height: 50px;
	line-height: 50px;
	color: #2d343b;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 15px;
	left: 20px;
	text-transform: uppercase;
	color: #2d343b;
	font-weight: 700;
	line-height: 24px;
	height: 24px;
	font-size: 16px;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
	top: -10px;
	color: #fff;
	font-size: 14px;
}

.booking-form .form-group:not( .input-not-empty) .form-control:not( :focus) {
	color: transparent;
}

.booking-form .form-group .form-control:focus+.form-label {
	top: -10px;
	color: #fff;
	font-size: 14px;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	color: #fff;
	font-weight: 700;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	border: 2px solid #1c2126;
	background: #1c2126;
	border-radius: 50%;
}

.booking-form .form-checkbox input:checked+span {
	border-color: #f7c411;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f7c411;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #1c2126;
	background-color: #f7c411;
	font-weight: 700;
	height: 50px;
	border: none;
	padding: 0px 50px;
}

#container_slide {
	height: 200%;
	width: 300%;
	position: absolute;
	transition: 1000ms;
	left: 0;
	top: 0;
}

#container_slide.next {
	left: -100%;
}

#container_slide.next.pay{
	left: -200%;
}

#container_slide.admin {
	top: -100%;
}

div#flight_results {
    width: 33.3333333%;
    height: 50%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 34%;
}

div#error-msg {
    padding: 2%;
    color: red;
    text-align: center;
}

div#payment_page {
    width: 33.3333333%;
    position: absolute;
    top: 0;
    right: 1%;
    height: 50%;
    margin: 0;
}

#hide_content {
	position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}

h3 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1%;
}

.title_display {
    background-color: rgb(26, 31, 36);
    color: white;
    padding: 40px;
    font-size: xx-large;
    margin-bottom: 2%;
    font-weight: bolder;
}

table#table_display {
    font-weight: normal;
	width: 100%;
}

table#table_display th {
	padding-left: 2%;
	padding-bottom: 2%;
	font-weight: normal;
}

table#table_display .submit-btn {
    color: #1c2126;
    background-color: #f7c411;
    font-weight: 700;
    height: 50px;
    border: none;
    padding: 0px 50px;
}

.back_button {
	position: absolute;
	left: 0%;
}

#result_container {
    background-color: white;
    width: 75%;
    transform: translate(25%, 50%);
    border: 1px solid lightgrey;
}

button#flight_back_btn {
    background-color: #333;
    color: white;
    font-weight: inherit;
    width: 10%;
    height: 20%;
}

#payment{
	width: 50%;
	height: max-content;
    padding: 3%;
    border: 0.5px solid black;
    background-color: white;
    transform: translate(40%, 10%);
}

input.btn {
	text-align: center;
    color: #1c2126;
    background-color: #f7c411;
    font-weight: 700;
	height: 30px;
    border: none;
    padding: 0px 50px;
}

label {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    padding-right: 1%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-right: 1%;
    margin-bottom: 1.5%;
}

.submit-btn_submit{
	color: #1c2126;
    background-color: #f7c411;
    font-weight: 700;
    height: 50px;
    border: none;
    padding: 0px 50px;
}

button#back_button2 {
    background-color: #333;
    color: white;
    box-shadow: none;
    border: none;
    width: 10%;
}

#list {
    height: 100%;
    width: max-content;
    margin-right: 0;
    float: left;
    background-color: #293037;
	border: none;
	overflow-y: auto;
    overflow-x: hidden;
}
  
  #list button {
  display: block;
  margin: 0;
  }
  
  #top {
    height: 90%;
    width: 100%;
}
  
#bottom {
    margin-top: 3%;
    height: 10%;
}
  
  #admin-page{
	font-family: Montserrat, sans-serif;
    width: 34%;
    height: 50%;
  }

  #admin-dashb {
    width: 60%;
    transform: translateY(25%);
    margin: auto;
    top: 50%;
    background-color: rgb(26, 31, 36);
    height: 67%;
    padding: 2%;
}

#list .submit-btn {
    color: #1c2126;
    background-color: #f7c411;
    font-weight: 700;
    height: 50px;
    border: none;
	padding: 0px 50px;
	width: 100%;
}

div#result-display {
    float: right;
    height: 100%;
    width: 65%;
    background-color: white;
}

#result-display-table {
	width: 100%;
}

#delete-btn{
	background-color: red;
	color: white;
	border: none;
}

#refund-btn{
	background-color: green;
	color: white;
	border: none;
}
#reset-btn{
	background-color: orange;	
	color: white;
	border: none;
}
div#admincontainer {
    width: 100%;
}

button#submit-admin-btn {
    /* padding: 4%; */
    /* position: relative; */
    border: none;
    background-color: red;
    /* transform: translateX(95%); */
    font-weight: bold;
}

/* #loginform{
	margin-bottom: 5%;
} */

#btn-admin-back {
	border: none;
	background-color: crimson;
	color: white;
	width: max-content;
}

#container_slide_check
{
	height: 100%;
	width: 400%;
	position: absolute;
	transition: 1000ms;
	left: 0;
	top: 0;
}

#container_slide_check.list
{
	left: -100%;
}

#container_slide_check.list.bags
{
	left: -200%;
}

#container_slide_check.list.bags.tickets
{
	left: -300%;
}

#checkin_menu{
	height: 100%;
	width: 25%;
	background-color: brown;
	position: absolute;
}

#ticket_search{
	border: 1px solid black;
	background-color: white;
	height: max-content;
	text-align: center;
	width: max-content;
	margin: auto;
	padding: 1%;
	transform: translate(0,250%);
}

#checkin_list{
	background-color: blue;
	height: 100%;
	width: 25%;
	top: 0%;
	right: 33.333%;
	position: absolute;
	/* right: 25%; */
	left: 25%;
}

#ticket_results{
	width: 100%;
}

#search_btn {
    padding: 2%;
    color: red;
	text-align: center;
	padding-top: 5%;
}

#luggage_title {
	margin-bottom: 4%;
}

#checkin_luggage {
	font-size: 150%;
    width: 25%;
    height: 50%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 25%;
}

#result_title {
	margin-bottom: 4%;
  }

  #boardings {
	width: 100%;
  }

#checkin_thankyou {
	font-size: 150%;
    width: 25%;
    height: 50%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}








#container_slide_check
{
	height: 100%;
	width: 400%;
	position: absolute;
	transition: 1000ms;
	left: 0;
	top: 0;
}

#container_slide_check.list
{
	left: -100%;
}

#container_slide_check.list.bags
{
	left: -200%;
}

#container_slide_check.list.bags.tickets
{
	left: -300%;
}

#checkin_menu{
	height: 100%;
	width: 25%;
	background-color: brown;
	position: absolute;
}

#ticket_search{
	border: 1px solid black;
	background-color: white;
	height: max-content;
	text-align: center;
	width: max-content;
	margin: auto;
	padding: 1%;
	transform: translate(0,250%);
}

#checkin_list{
	background-color: blue;
	height: 100%;
	width: 25%;
	top: 0%;
	right: 33.333%;
	position: absolute;
	/* right: 25%; */
	left: 25%;
}

#ticket_results{
	width: 100%;
}

#search_btn {
    padding: 2%;
    color: red;
	text-align: center;
	padding-top: 5%;
}

#luggage_title {
	margin-bottom: 4%;
}

#checkin_luggage {
	font-size: 150%;
    width: 25%;
    height: 50%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 25%;
}

#result_title {
	margin-bottom: 4%;
  }

  #boardings {
	width: 100%;
  }

#checkin_thankyou {
	font-size: 150%;
    width: 25%;
    height: 50%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}

#results {
    background-color: white;
    width: 75%;
    transform: translate(25%, 150%);
	border: 1px solid lightgrey;
	padding: 2%;
}


div#inquiries {
    width: fit-content;
    height: 50%;
	margin: 5%;
}

#top_inq {
    height: 90%;
    width: 100%;
    background-color: gainsboro;
    text-align: center;
    padding: 5%;
}

div#inquiries-dashb {
    height: 100%;
}

.btn_inq {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}